body {
    color: chartreuse
    background: forestgreen;
    margin:0px}

    header {

    border-bottom: solid 2px rgb(rgb(29, 88, 17), green, blue);
    padding: 20px;
    font-size: 34px;
    }






